# NVUE API Configuration
# Copy this file to .env and update with your actual values

# Switch connection settings
NVUE_BASE_URL=https://10.100.100.11:8765/nvue_v1
NVUE_USERNAME=cumulus
NVUE_PASSWORD=cumulus

OTEL_PYTHON_EXCLUDED_URLS="client/.*/info,healthcheck,metrics"
OTEL_PYTHON_REQUESTS_EXCLUDED_URLS="healthcheck,metrics"